body{
    color:rgb(233, 233, 199);
    background-color:rgb(7, 5, 32);
}

ul{
    display: flex;
    justify-content: space-between;
    list-style-type: none;
    padding: 30px;
    font-size: 30px;
}
img{
    width: 180px;
    height: 170px;
    border-radius:55%;
    border: 8px solid rgb(253, 253, 209);
}
a{
color: rgb(250, 234, 199);
text-decoration: none;
}